{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <title>{{ title }}</title>
        <script type="text/javascript" src="{% static 'index.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <form action="{% url 'index' %}" method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col-10">
                    <input type="text" class="form-control" value="{{ sentence }}" placeholder="日本語の文" id="sentence" name="sentence">
                </div>
                <div class="col-2">
                    <button type="submit" id="button" class="btn btn-primary mb-3">画像生成開始</button>
                </div>
            </div>
        </form>
        <div id="container">
            <div class="row">
                {% if num %}
                {% with ''|center:num as range %}
                {% for _ in range %}
                    <div class="col" id="img{{ forloop.counter0 }}"></div>
                {% endfor %}
                {% endwith %}
                {% endif %}
            </div>
        </div>
    <script>
        {% if num %}
        showImage("{% url 'img' %}", {{ num }}, "{{ sentence }}");
        {% endif %}
    </script>
    </body>
</html>
