{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" /> 
        <title>{{ title }}</title>
        <script type="text/javascript" src="{% static 'index.js' %}"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <button onClick="img1();" class="btn btn-primary mb-3">画像を表示</button>
        <div id="img"></div>
    <script>
        function img1() {
            url = "{% url 'img' %}"
            showImage(url)
        }
    </script>
    </body>
</html>
